{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container  h-100">
<div class="row d-flex justify-content-center align-items-center h-100">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card bg-dark text-white" style="border-radius: 1rem;">
      <div class="card-body p-5 text-center">

        <div class="mb-md-5 mt-md-4 pb-5">

          <h2 class="fw-bold mb-2 text-uppercase">Регистрация</h2>
        <form action="{% url 'users:registration' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <p>{{form.non_field_errors}}</p>
            {% endif %}
          <div class="form-outline form-white mb-4">
            <input type="text" id="id_first_name" value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}"
                   name="first_name" placeholder="Введите имя" class="form-control form-control-lg" />
            <label class="form-label" for="id_first_name">Имя</label>
            {% if form.first_name.errors %}<div class="alert alert-dark" role="alert">
            {{form.first_name.errors}}</div>{% endif %}

          </div>

          <div class="form-outline form-white mb-4">
            <input type="text" id="id_last_name" value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}"
                   name="last_name" placeholder="Введите фамилию" class="form-control form-control-lg" />
            <label class="form-label" for="id_last_name">Фамилия</label>
            {% if form.last_name.errors %}<div class="alert alert-dark" role="alert">
            {{form.last_name.errors}}</div>{% endif %}
          </div>

          <div class="form-outline form-white mb-4">
            <input type="text" id="id_username" value="{% if form.username.value %}{{form.username.value}}{% endif %}"
                   name="username" placeholder="Введите имя пользователя" class="form-control form-control-lg" />
            <label class="form-label" for="id_username">Имя пользователя</label>
            {% if form.username.errors %}<div class="alert alert-dark" role="alert">
            {{form.username.errors}}</div>{% endif %}
          </div>

          <div class="form-outline form-white mb-4">
            <input type="text" id="id_email" value="{% if form.email.value %}{{form.email.value}}{% endif %}"
                   name="email" placeholder="Введите имя пользователя" class="form-control form-control-lg"  />
            <label class="form-label" for="id_email">Email</label>
            {% if form.email.errors %}<div class="alert alert-dark" role="alert">
            {{form.email.errors}}</div>{% endif %}
          </div>

          <div class="form-outline form-white mb-4">
            <input type="password" id="id_password1" value="{% if form.password1.value %}{{form.password1.value}}{% endif %}"
                   name="password1" placeholder="Введите пароль" class="form-control form-control-lg" />
            <label class="form-label" for="id_password1">Пароль</label>
          </div>
            <div class="form-outline form-white mb-4">
            <input type="password" id="id_password2" value="{% if form.password2.value %}{{form.password2.value}}{% endif %}"
                   name="password2" placeholder="Подтвердите пароль" class="form-control form-control-lg" />
            <label class="form-label" for="id_password2">Подтвердите пароль</label>
          </div>


          <button class="btn btn-outline-light btn-lg px-5" type="submit">Зарегистрироваться</button>
        </form>
        </div>

      </div>
    </div>
  </div>
</div>
</div>

{% endblock %}

{% block footer %}
    <footer class="py-5 bg-dark mt-auto">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
    </footer>
{% endblock %}