{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
        <div class="col-lg-6">
            <h1 class="mt-5">Купите жабу</h1>
            <p>Здесь вы можете приобрести свою собственную жабу, выбирайте на любой вкус и цвет</p>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<footer class="py-5 bg-dark mt-auto">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
{% endblock %}