{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="h-100">
    <div class="container h-100 py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-10">

                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h3 class="fw-normal mb-0 text-black">Оформление заказа</h3></div>

                <div class="row g-5">
                    <div class="col-md-7 col-lg-8">
                        <h4 class="mb-3">Информация о покупателе:</h4>
                        <form action="{% url 'orders:create_order' %}" method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-sm-6">
                                    <label for="id_first_name" class="form-label">Имя</label>
                                    <input type="text"
                                           value="{% if form.first_name.value %}{{form.first_name.value}}{% endif %}"
                                           name="first_name" class="form-control" id="id_first_name">

                                </div>
                                {% if form.first_name.errors %}
                                <div class="alert alert-dark" role="alert">
                                    {{form.first_name.errors}}
                                </div>
                                {% endif %}

                                <div class="col-sm-6">
                                    <label for="id_last_name" class="form-label">Фамилия</label>
                                    <input type="text"
                                           value="{% if form.last_name.value %}{{form.last_name.value}}{% endif %}"
                                           name="last_name" class="form-control" id="id_last_name">
                                </div>
                                {% if form.last_name.errors %}
                                <div class="alert alert-dark" role="alert">
                                    {{form.last_name.errors}}
                                </div>
                                {% endif %}

                                <div class="col-12">
                                    <label for="id_phone_number" class="form-label">Номер телефона</label>
                                    <input type="text"
                                           value="{% if form.phone_number.value %}{{form.phone_number.value}}{% endif %}"
                                           name="phone_number" class="form-control" id="id_phone_number">
                                </div>
                                {% if form.phone_number.errors %}
                                <div class="alert alert-dark" role="alert">
                                    {{form.phone_number.errors}}
                                </div>
                                {% endif %}

                                <hr class="my-3">
                                <h4 class="mb-3">Доставка:</h4>
                                <div class="col-sm-3 mt-2">

                                    <div class="form-check form-check-inline">

                                        <input class="form-check-input" type="radio" name="delivery"
                                               id="id_delivery" value="1" checked>
                                        <label class="form-check-label" for="id_delivery">Нужна
                                            доставка</label>
                                    </div>

                                </div>
                                <div class="col-sm-6 mt-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="delivery"
                                               id="id_delivery" value="0">
                                        <label class="form-check-label" for="id_delivery">Самовывоз</label>
                                    </div>
                                </div>
                                <div class="mb-3" id="deliveryAddressField">
                                    <label for="id_address" class="form-label">Адрес
                                        доставки*:</label>
                                    <input class="form-control" id="id_address"
                                           value="{% if form.address.value %}{{ form.address.value }}{% endif %}"
                                           name="delivery_address">
                                    {% if form.delivery_address.errors %}
                                    <div class="alert alert-dark" role="alert">
                                        {{form.delivery_address.errors}}
                                    </div>
                                    {% endif %}
                                </div>
                                <hr class="my-4">
                                <h4 class="mb-3">Способ оплаты:</h4>
                                <div class="col-sm-3 mt-2">
                                    <div class="form-check">
                                        <input id="id_payment_on_get" name="payment_on_get" value="1" type="radio"
                                               class="form-check-input" checked>
                                        <label class="form-check-label" for="id_payment_on_get">Оплата при
                                            получении</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 mt-2">
                                    <div class="form-check">
                                        <input id="id_payment_on_get" name="payment_on_get" value="0" type="radio"
                                               class="form-check-input">
                                        <label class="form-check-label" for="id_payment_on_get">Оплата картой</label>
                                    </div>
                                </div>
                            </div>

                            <hr class="my-4">

                            <button class="w-100 btn btn-dark btn-lg" type="submit">Подтвердить заказ</button>

                        </form>
                        <div class="card mt-2">
                            <a href="/catalog/all/" type="button" class="btn btn-light btn-block btn-lg">Продолжить
                                покупки</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}